body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(63, 63, 63);
  color: white;
  text-align: center;
}

header {
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  top: 0px;
  right: 20px;
  display: flex;
  justify-content: flex-end;

  -webkit-animation: slide 18s ease infinite;
  animation: slide 18s ease infinite;
}


header a:hover {
  color: white;
  text-decoration: underline;
}


@-webkit-keyframes slide {
  0% {
      background-image: url(slide1.jpg);
  }

  10% {
      background-image: url(slide1.jpg);
  }

  20% {
      background-image: url(slide2.jpg);
  }

  50% {
      background-image: url(slide2.jpg);
  }

  60% {
      background-image: url(slide3.jpg);
  }

  90% {
      background-image: url(slide4.jpg);
  }

  100% {
      background-image: url(slide4.jpg);
  }

}

.logo {
  background: url("./logo.svg") no-repeat;
  width: auto;
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  display: block;
  text-indent: -9999px;
  position: absolute;
}

#image {
  width: 100%;
}

.links {
  color: rgb(63, 63, 63);
  text-decoration: none;
  font-size: x-large;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

#link2 {
  color: rgb(145, 203, 227);
}

.picsize:hover img {
  opacity: 0.5;
}

.picsize img:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out 0s;
  opacity: 1;
}

.button {
  transition-duration: 0.4s;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.button:hover {
  background-color: #817f79;
  color: white;
}

.left {
  text-align: left;
  float: left;
}
.right {
  float: right;
  text-align: right;
}
.centered {
  text-align: center;
}
.socialmedia {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.footer {
  background-color: #eaeaea;
  position: relative;
  color: rgba(149, 149, 149, 0.989);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footerbackground {
  background-color: #eaeaea;
  position: absolute;
  height: 200px;
  width: 100%;
}

input[type="text"],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

.contactform {
  border-radius: 5px;
  background-color: rgb(63, 63, 63);

}

.layout {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.socialmedia {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.socialmedia:hover {
  opacity: 1;
}


.textstyle {font-family: 'Quicksand';
margin-bottom: 0px;
font-style: italic;
font-size: xx-large;}

.banner {
  font-size: 20px;
  position: fixed;
  cursor: pointer;
  padding: 0,5%;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: 300;
  margin-top: 30px; 
  background-color: rgb(0, 89, 255);
  color: white;
}

.portfoliotext {font-size: 50px;}