
body {margin: 0;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: rgb(63, 63, 63);
color: white;
text-align: center;}

header {height: 400px;
display: flex;
justify-content: first baseline;
align-items: flex-start;
background-image: url(bild-header.png);}

header a:hover {color: white;
    text-decoration: underline;}

.logo { 
        background: url("./logo.svg") no-repeat; 
        width: auto;
        height: 25px;
        margin-left: 10px;
        margin-top: 10px;
        display: block; 
        text-indent: -9999px;
}

#image
        {
            width: 100%;
        }

.links {color: rgb(187, 177, 177);
text-decoration: none;
margin-right: 15px;
font-size: x-large;}

.button {
    transition-duration: 0.4s;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .button:hover {
    background-color: #817f79;
    color: white;
  }

.left{
    text-align:left;
    float:left;
    }
    .right{
    float:right;
    text-align:right;
    }
    .centered{
    text-align:center;
    }
    .socialmedia {width: 24px;
    height: 24px;
margin-top: 10px;}
       
.footer {background-color: #eaeaea;
    position: absolute;
  height: 200px;
  width: 100%;
  color: rgba(149, 149, 149, 0.989);
  text-align: center;
}

