
body {margin: 0;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
    
    header a {background-color: rgb(61, 61, 20)
    height: 100 px;
    text-decoration: none;}



footer {background-color: #eaeaea

    ;}

